.cards {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #6bc4cd;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
    height: 50vh;
    border-radius: 3px;
    box-shadow: 20px 40px 33px rgba(0,0,0,0.3);
    padding: 2rem;
    width: 35vh;
}

.image {
    width: 35vh;
    height: 20vh;
    background-image: url("beach.jpg");
    background-size: cover;
    background-position: center center;
    box-shadow:  10px 15px 5px 6px #3891b4;
    border-radius: 34% 66% 68% 32% / 41% 58% 42% 59% ;
}

.one {
    border-radius: 34% 66% 76% 24% / 41% 27% 73% 59% ;
}